.p-tabview-nav, .p-tabview-panels, .p-tabview-nav-link{
    background-color: #DBEAFE;
}

.p-datatable, .p-component, .p-datatable-responsive-scroll, .p-datatable-striped{
    border-radius: 30px;
}


/*.p-tabview-nav-link {
    border: 2px solid;
    border-color: #de1c85;
    border-bottom: none;
    border-right: none;
}*/