.p-tabview-nav, .p-tabview-panels, .p-tabview-nav-link{
    background-color: #DBEAFE;
}

.p-datatable, .p-component, .p-datatable-responsive-scroll, .p-datatable-striped{
    border-radius: 30px;
}

aside {
    background: #0072b1 !important;
    border: grey;
    box-shadow: 2px 2px 12px rgb(131, 131, 131);
}


/*.p-tabview-nav-link {
    border: 2px solid;
    border-color: #de1c85;
    border-bottom: none;
    border-right: none;
}*/